<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Athlete View</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body class="bg-gray-100 p-6">
    <div class="max-w-5xl mx-auto bg-white shadow-lg rounded-lg p-6">

      <!-- Competitions list -->
      <h1 class="text-3xl font-bold text-center mb-6">{{ athlete_comps.0.Name }}</h1>
      <ul class="mb-6">
        {% for comp in athlete_comps %}
          <li class="text-lg p-2 bg-gray-50 mb-2 text-center">
            <span class="font-semibold">{{ comp.Name }}</span> -
            <span>{{ comp.TotalKg }} kg</span> on
            <span>{{ comp.Date }}</span>
            <span>{{ comp.Federation }}</span>
          </li>
        {% endfor %}
      </ul>

      <!-- Competitions timeline chart -->
      <div class="mb-6">
        <canvas id="comps_timeline" width="400" height="200"></canvas>
      </div>

      <!-- IPF Points distribution chart -->
      <div class="mb-6">
        <canvas id="distribution" width="300" height="120"></canvas>
      </div>

      <!-- Strength percentile -->
      <div class="mb-6">
        <h1 class="text-center">Stronger than {{ percentile | floatformat:3 }}% of athletes</h1>
      </div>

      <!-- Best and worst lifts -->
      <div class="mb-6">
        <h1 class="text-center">Best lift: {{ best_lift | safe }}</h1>
        <h1 class="text-center">Worst lift: {{ worst_lift | safe }}</h1>
      </div>

      <div class="text-center mt-6">
        <a href="/" class="btn btn-primary">Back</a>
      </div>
    </div>

    <!-- Competition timeline chart -->
    <script>
      const comps_timeline = document.getElementById('comps_timeline').getContext('2d');

      const dates = [];
      const totals = [];
      {% for comp in athlete_comps %}
        dates.push('{{ comp.Date }}');
        totals.push({{ comp.TotalKg }});
      {% endfor %}

      new Chart(comps_timeline, {
        type: 'line',
        data: {
          labels: dates,
          datasets: [
            {
              label: 'TotalKg',
              data: totals,
              borderColor: '#3B82F6',
              backgroundColor: 'rgba(59, 130, 246, 0.2)',
              tension: 0.2,
              fill: true,
            }
          ]
        },
        options: {
          responsive: true,
          scales: {
            x: { title: { display: true, text: 'Date' }},
            y: { title: { display: true, text: 'TotalKg' }}
          }
        }
      });
    </script>

    <!-- IPF Points distribution chart -->
    <script>
        const distribution = document.getElementById('distribution').getContext('2d');

        const points = {{ freq_keys | safe }};
        const frequency = {{ freq_values | safe }};
        const average = {{ freq_avg | safe }};
        const pr = {{ freq_pr | safe }};

        const bg_colors = points.map((value) => {
          if (value === average) {
              return 'rgba(55, 130, 235, 0.7)';
          } else if (value === pr) {
              return 'rgba(220, 10, 210, 0.7)';
          } else {
              return 'rgba(75, 192, 192, 0.7)';
          } });

        const bord_colors = points.map((value) => {
          if (value === average) {
              return 'rgba(55, 130, 235, 1)';
          } else if (value === pr) {
              return 'rgba(220, 10, 210, 1)';
          } else {
              return 'rgba(75, 192, 192, 1)';
          } });

        new Chart(distribution, {
            type: 'bar',
            data: {
                labels: points,
                datasets: [
                {
                    label: 'Frequency',
                    data: frequency,
                    backgroundColor: bg_colors,
                    borderColor: bord_colors,
                    borderWidth: 1,
                }]
            }
        });
    </script>
    
  </body>
</html>
