<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Best Scores Frequency Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>Frequency of Best Totals for each athlete</h1>
    <canvas id="normal" width="300" height="120"></canvas>

    <script>
        const total = {{ total | safe }};
        const frequency = {{ frequency | safe }};

        const ctx = document.getElementById('normal').getContext('2d');
        const normal = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: total,
                datasets: [
                {
                    label: 'Frequency',
                    data: frequency,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
  </body>
</html>
