<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Atleti</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Sex</th>
          <th>TotalKg</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in table %}
          <tr>
            <td>
              <a href="athlete/{{ entry.Name }}">{{ entry.Name }}</a>
            </td>
            <td>{{ entry.Sex }}</td>
            <td>{{ entry.TotalKg }}</td>
            <td>{{ entry.Date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
